.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    gap: 40px;
  
}

img{
    width: 100%;
    height: 50%;
}
.container{
    display: flex;
    flex: 1;
    gap: 40px;
    margin:0 30px 50px 30px;
    
}
.op{
    
   text-transform: capitalize;
   font: weight 400;
}
.image-bottom{
    margin-bottom: -150px;
}
h3{

    margin-left: 30px;
}
h4{
    text-transform: capitalize;
}